

<div class="column">
    <form class="search-form">
        <input class="search-box" placeholder="Search Twitter"/>
    </form>

    <div class="trends">
        <ul>
            <li>
                <h5>Trends for you</h5><i class="fa fa-gear"></i>
            </li>
            <li>
                <div class="trend-info">
                    <p class="trend-title">Trending in Nigeria</p>
                    <p class="trend-hashtag">#fireboy</p>
                    <p class="trend-tweet-number">2,742 Tweets</p>
                </div>
                <i class="fa fa-chevron-down"></i>
            </li>
            <li>
                <div class="trend-info">
                    <p class="trend-title">Trending in Nigeria</p>
                    <p class="trend-hashtag">#fireboy</p>
                    <p class="trend-tweet-number">2,742 Tweets</p>
                </div>
                <i class="fa fa-chevron-down"></i>
            </li>
            <li>
                <div class="trend-info">
                    <p class="trend-title">Trending in Nigeria</p>
                    <p class="trend-hashtag">#fireboy</p>
                    <p class="trend-tweet-number">2,742 Tweets</p>
                </div>
                <i class="fa fa-chevron-down"></i>
            </li>
            <li>
                <div class="trend-info">
                    <p class="trend-title">Trending in Nigeria</p>
                    <p class="trend-hashtag">#fireboy</p>
                    <p class="trend-tweet-number">2,742 Tweets</p>
                </div>
                <i class="fa fa-chevron-down"></i>
            </li>
            <li>
                <div class="trend-info">
                    <p class="trend-title">Trending in Nigeria</p>
                    <p class="trend-hashtag">#fireboy</p>
                    <p class="trend-tweet-number">2,742 Tweets</p>
                </div>
                <i class="fa fa-chevron-down"></i>
            </li>
        </ul>
    </div>
</div>
